<?xml version="1.0" encoding="UTF-8"?>
<web-app  version="3.0">
    <display-name>Conference portal</display-name>

    <servlet>
        <servlet-name>ConferenceServlet</servlet-name>
        <servlet-class>ua.krasun.conference_portal_servlet.ConferencePortal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConferenceServlet</servlet-name>
        <url-pattern>/conference/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.krasun.conference_portal_servlet.controller.filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>ua.krasun.conference_portal_servlet.controller.filters.SessionLocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>ua.krasun.conference_portal_servlet.controller.filters.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/error.jsp</location>
    </error-page>

    <listener>
        <listener-class>ua.krasun.conference_portal_servlet.controller.listener.SessionListener</listener-class>
    </listener>


</web-app>
