<?xml version="1.0" encoding="UTF-8"?>
<web-app  version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>ua.krasun.conference_portal_servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

<!--    <welcome-file-list>-->
<!--        <welcome-file>index.jsp</welcome-file>-->
<!--    </welcome-file-list>-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.krasun.conference_portal_servlet.filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
